{
	"bot_account": {
		"username": "Your OSM username for a bot account",
		"password": "password"
	},
	"human_account": {
		"username": "Your OSM username for a human operated account",
		"password": "password"
	}
}
